
.hero-image {
    background-image: url("https://andrestayupanta.neocities.org/imagesMvc/Bullworth_Academy.webp");
    background-repeat: no-repeat;
    color: #FFF;
    min-height: 100vh;
}

.hero-image div {
    background-color: rgba(0,0,0, .75);
}

.fixed {
    position: fixed;
}

