@{
    ViewBag.Title = "Home Page";
}

<!--
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>
    -->



    <section class="hero-image min-vh-100 text-white ">
        <div class="min-vh-100 d-flex justify-content-center align-items-center text-center">
            <h1 class=""> Bullworth College </h1>
        </div>
    </section>

    <section class="container">
        <div class="row flex-row-reverse">
            <article class="col-12 col-lg-6 p-4">
                <h2>Innovación y Tradición en Educación Superio</h2>
                <p>
                    "Bullworth College se enorgullece de combinar lo mejor de la tradición académica con una vanguardista aproximación a 
                    la enseñanza y el aprendizaje. Situados en el corazón de Quito, ofrecemos un entorno diverso y dinámico donde los 
                    estudiantes pueden prosperar. Con programas que van desde las humanidades hasta la tecnología avanzada, cada curso 
                    está diseñado para desafiar, inspirar y preparar a los estudiantes para el éxito en un mundo globalizado. 
                    Únete a nosotros para una experiencia universitaria que dejará una huella duradera en tu vida personal y profesional."
                </p>
            </article>

            <article class="col-12 col-lg-6 p-4">
                <img src="https://andrestayupanta.neocities.org/imagesMvc/bullworth.jpg" class="img-fluid" alt="">
            </article>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <article class="col-12 col-lg-6 p-4">
                <h2>Nuestro Compromiso con la Excelencia</h2>
                <p>
                    "En Bullworth College, la excelencia no es solo una meta, es nuestro compromiso. 
                    Nuestra facultad de renombre internacional impulsa la investigación innovadora y una enseñanza que 
                    cambia vidas, enmarcada por un campus vibrante que alberga una amplia gama de actividades culturales, 
                    sociales y deportivas. Estamos dedicados a cultivar líderes y ciudadanos responsables, equipados para 
                    aportar a la sociedad y al bienestar global. Experimenta el poder de la educación en una institución que 
                    valora la curiosidad, el debate intelectual y la búsqueda incesante del conocimiento."
                </p>
            </article>

            <article class="col-12 col-lg-6 p-4">
                <img src="https://andrestayupanta.neocities.org/imagesMvc/sites1.jpg" class="img-fluid" alt="">
            </article>
        </div>
    </section>

